.active
{
    background : rgba($color: #5d5858, $alpha: 1.0);
    color: white;
}

.home
{
    background : rgba($color: #024979, $alpha: 1.0);
    color: white;
}

a{
    color : var(--app-light);
}
